themes {
    catppuccin {
        bg "#1e1e2e"
        fg "#cdd6f4"
        black "#1e1e2e"
        white "#b4befe"
        red "#f38ba8"
        green "#a6e3a1"
        yellow "#f9e2af"
        blue "#89b4fa"
        magenta "#cba6f7"
        orange "#89b4fa"
        cyan "#94e2d5"
    }
}
