* {
  border: none;

  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: rgba(30, 30, 46, 0.8);
  color: #cdd6f4;
}

tooltip {
  background: #1e1e2e;
  border-radius: 4px;
  border: 2px solid #f5c2e7;
}

#workspaces button {
  padding: 2px 6px;
  margin: 3px 2px;
  color: #6c7086;
  background: #313244;
  border-radius: 4px;
  box-shadow: none;
  transition: none;
}

#workspaces button.active {
  color: #1e1e2e;
  background: #f5c2e7;
  box-shadow: none;
}

#workspaces button.urgent {
  color: #1e1e2e;
  background: #f38ba8;
  box-shadow: none; /* Add this line */
}

#workspaces button:hover {
  color: #1e1e2e;
  background: #f2cdcd;
  box-shadow: none;
  text-shadow: none;
}
#language,
#clock,
#network,
#wireplumber,
#backlight,
#battery {
  background: #313244;
  padding: 0px 8px;
  margin: 3px 2px;
  border-radius: 4px;
}

#battery.charging {
  color: #a6e3a1;
}

#battery.warning {
  color: #fab387;
}

#battery.critical {
  color: #f38ba8;
}

#network.disconnected {
  color: #f38ba8;
}

#wireplumber.muted {
  color: #f38ba8;
}

#custom-spotify {
  background: #313244;
  padding: 0px 8px;
  margin: 3px 2px;
  border-radius: 4px;
}

#custom-spotify.true {
  color: #a6e3a1;
}

#custom-spotify.false {
  color: #cdd6f4;
}

#custom-spotify.stopped {
  color: #6c7086;
}
